<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
		
			<div class="col-sm-3">
				
				<div class="well">
					<p>Github Repos</p>
					<li><a href="https://github.com/AlcesAlces/AndroidClassServer">Server</a></li>
					<li><a href="https://github.com/AlcesAlces/AndroidClass">Android</a></li>
					
				</div>
			</div>
		
			<div class="col-sm-9">
			
				<div class="jumbotron">
					<h1>Hi there!</h1>
					<p>Walker Talker is a project created by Michael Clark and Patrick Barron for Software Development for Mobile Devices at USF!</p>
				</div>
				
			</div>
			
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>