<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<form method="post" action="/register">
	<body class="container">

		<header>
			<% include ../partials/header %>
		</header>

		<main>
			<div class="jumbotron">
				<p>User Name</p>
				<input type="TEXT" name="user_name" value="" style="margin:10px;"><br>
				<p>Password</p>
				<input type="password" name="password" value="" style="margin:10px;"><br>
				<p>Email</p>
				<input type="TEXT" name="email" value="" style="margin:10px;"><br>
				<input type="submit" name="register" value="Register" style="margin:10px;"><p>
				
				<% if(error) { %>
				<p> <%= error %> </p>
				<% } %>
			</div>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</form>
</html>